<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body style="background-color:#ffffe6;">

{% if user.is_authenticated %}
    <p>Welcome, {{ username }}  <a href="/movie/favorite/" target="_self">Favorite List</a>  <a href="/user/logout/">Logout</a></p>
{% else %}
    {% if message %}
        <p style="color:red;">{{ message }}</p>
    {% endif %}
    <p>Guest, please <a href="/user/login/">Login</a> or <a href="/user/register/">Register</a></p>
{% endif %}

<a href="/movie/movie_all/1">movie_list</a>
<br/>
<a href="/movie/actor_all/">actor_list</a>
<br/>

<form action="/" method="post">
    {% csrf_token %}
    <input type="text" name="title"/>
    <input type="submit" name="Search Movie" value="Search Movie"/>
    <input type="submit" name="Search Actor" value="Search Actor"/>
</form>
<br/>
{% load static %}
<img border="0" src="{% static "movie.jpg" %}" width="1280" height="720">
</body>
</html>